 <section id="pricing">

    <h2>Menu</h2>
    <p>The Realm's Delight</p>
    
<div class="row">
  <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
      
    <div class="card">
      <div class="card-header cardhed">
        <span class="shop-item-title"><h3>Black Forest</h3></span>
      </div>
      <div class="card-body cake">
        
        <img class="card-image shop-item-image " src="/static/images/cake4.png">
        
        
      </div>
      <div class="card-footer">
        <span class="shop-item-price"><h5 style="text-align: center;">₹299</h5></span>
                <span class="card-text"><p style="text-align: center;">The mouth relishing beauty of the north for sale at!!!</p></span>
      
 <div class="btn-group-justified">
        <div class="btn-group ris" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-secondary btn-sm" for="btnradio1">1/2 kg</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-secondary btn-sm" for="btnradio2">1 kg</label>

</div>
        
        <button class="btn btn-block btn-outline-dark shop-item-button popa" type="button">Buy now</button>
        </div>
       
      </div>     
    </div>
  
  </div>

  <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
      
    <div class="card">
      <div class="card-header cardhed">
        <span class="shop-item-title"><h3>Red Velvet</h3></span>
      </div>
      <div class="card-body cake">
        
        <img class="card-image shop-item-image " src="/static/images/cake5.png">
        
        
      </div>
      <div class="card-footer">
        <span class="shop-item-price"><h5 style="text-align: center;">₹399</h5></span>
        <span class="card-text"><p style="text-align: center;">The mouth relishing beauty of the north for sale at!!!</p></span>
     <div class="btn-group-justified">
        <div class="btn-group ris" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked>
  <label class="btn btn-outline-secondary btn-sm" for="btnradio3">1/2 kg</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
  <label class="btn btn-outline-secondary btn-sm" for="btnradio4">1 kg</label>

</div>
        
        <button class="btn btn-block btn-outline-dark shop-item-button popa" type="button">Buy now</button>
        </div>
      </div>     
    </div>
  
  </div>

  <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
      
    <div class="card">
      <div class="card-header cardhed">
        <span class="shop-item-title"><h3>Chocolate</h3></span>
      </div>
      <div class="card-body cake">
        
        <img class="card-image shop-item-image  " src="/static/images/cake6.png">
        
        
      </div>
      <div class="card-footer">
        <span class="shop-item-price"><h5 style="text-align: center;">₹499</h5></span>
                <span class="card-text"><p style="text-align: center;">The mouth relishing beauty of the north for sale at!!!</p></span>
 <div class="btn-group-justified">
        <div class="btn-group ris" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" checked>
  <label class="btn btn-outline-secondary btn-sm" for="btnradio5">1/2 kg</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
  <label class="btn btn-outline-secondary btn-sm" for="btnradio6">1 kg</label>

</div>
        
        <button class="btn btn-block btn-outline-dark shop-item-button popa" type="button">Buy now</button>
        </div>
      </div>     
    </div>
  
  </div>
  <div class="colmntwo"> <br><br></div>
  <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
      
    <div class="card">
      <div class="card-header cardhed">
        <span class="shop-item-title"><h3>Butterscotch</h3></span>
      </div>
      <div class="card-body cake">
        
        <img class="card-image shop-item-image " src="/static/images/cake6.png">
        
        
      </div>
      <div class="card-footer">
        <span class="shop-item-price"><h5 style="text-align: center;">₹349</h5></span>
                <span class="card-text"><p style="text-align: center;">The mouth relishing beauty of the north for sale at!!!</p></span>
 <div class="btn-group-justified">
        <div class="btn-group ris" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off" checked>
  <label class="btn btn-outline-secondary btn-sm" for="btnradio7">1/2 kg</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
  <label class="btn btn-outline-secondary btn-sm" for="btnradio8">1 kg</label>

</div>
        
        <button class="btn btn-block btn-outline-dark shop-item-button popa" type="button">Buy now</button>
        </div>  
      </div>     
    </div>
  
  </div>
  <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
      
    <div class="card">
      <div class="card-header cardhed">
        <span class="shop-item-title"><h3>Rasmalai cake</h3></span>
      </div>
      <div class="card-body cake">
        
        <img class="card-image shop-item-image " src="/static/images/cake7.png">
        
        
      </div>
      <div class="card-footer">
        <span class="shop-item-price"><h5 style="text-align: center;">₹299</h5></span>
                <span class="card-text"><p style="text-align: center;">The mouth relishing beauty of the north for sale at!!!</p></span>
 <div class="btn-group-justified">
        <div class="btn-group ris" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off" checked>
  <label class="btn btn-outline-secondary btn-sm" for="btnradio9">1/2 kg</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off">
  <label class="btn btn-outline-secondary btn-sm" for="btnradio10">1 kg</label>

</div>
        
        <button class="btn btn-block btn-outline-dark shop-item-button popa" type="button">Buy now</button>
        </div>
      </div>     
    </div>
  
  </div>
  <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
      
    <div class="card">
      <div class="card-header cardhed">
        <span class="shop-item-title"><h3>Gulab Jamun cake</h3></span>
      </div>
      <div class="card-body cake">
        
        <img class="card-image shop-item-image " src="/static/images/cake8.png">
        
        
      </div>
      <div class="card-footer">
        <span class="shop-item-price"><h5 style="text-align: center;">₹399</h5></span>
                <span class="card-text"><p style="text-align: center;">The mouth relishing beauty of the north for sale at!!!</p></span>
 <div class="btn-group-justified">
        <div class="btn-group ris" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off" checked>
  <label class="btn btn-outline-secondary btn-sm" for="btnradio11">1/2 kg</label>

  <input type="radio" class="btn-check" name="btnradio" id="btnradio12" autocomplete="off">
  <label class="btn btn-outline-secondary btn-sm" for="btnradio12">1 kg</label>

</div>
        
        <button class="btn btn-block btn-outline-dark shop-item-button popa" type="button">Buy now</button>
        </div>    </div>     
    </div>
    <br>
    <br>
    
  
  </div>
  
  
  
  </div>
  </section>