



<link rel="stylesheet" href="/static/css/reviews.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="containers">
    <div class="mgb-10 padb-30 auto-invert line-b-4 align-center">
 
        <h1 class=" fg-text-d lts-md fs-300 fs-300-xs pt-4 topa" contenteditable="false">Customer Reviews</h1>
    </div>
    <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm ">
        <li>

          
       <i class="material-icons">star star star star star</i>
            <br><br>
          <p class="fs-110 font-cond-l paspas" contenteditable="false">" Great service and a very good, not super sweet cupcake. The flavors are fantastic and they have small bites and traditional sized cupcakes."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Dhruva Kumar</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Business Woman - New York</small>
        </li>
        <li>
             <i class="material-symbols-outlined material-icons">star star star star star_half</i>
             <br><br>
         <p class="fs-110 font-cond-l paspas" contenteditable="false">" Ordered a 6kg cake for our anniversary which is the same flavor as our wedding cake. The cake was moist. Flavor: white cake with raspberry filling and vanilla Bavarian custard. "</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Noah</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Recording Artist - Los Angeles</small>
        </li>
        <li>
             <i class="material-icons">star star star star star</i>
             <br><br>
         <p class="fs-110 font-cond-l paspas" contenteditable="false">" Shantanu did our wedding cake consultation and was very thorough in explaining the cake tasting process and giving us advice on what styles worked and what flavors together."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">MIMS</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Fund Manager - Chicago</small>
        </li>
      </ul>
</div>